{# We could add eager load things here,
    but as the number of blocks will be low, and some block types may not be present at all
    this might be of a very small impact or even counter productive.
    Only profiling with real life content will tell.
    Eager loaded or not, the code accessing sub-elements is the same.
#}
{% set blocks = query.collect %}

{% if blocks.count %}

    {# Output content builder blocks #}

    {# Using Tailwind typography with minor custom styling #}
    <div class="prose prose-lg prose-slate my-12 max-w-(--breakpoint-lg) space-y-8 dark:prose-invert prose-headings:text-brand-800 dark:prose-headings:text-brand-100">
        {% for block in blocks %}
            {# give blocks an id as a link target #}
            <div id="block-{{ block.id }}" class="my-8">

                {# include the block template by type #}
                {% include "_blocks/#{block.type.handle}.twig" with {
                    block
                } only %}

            </div>
        {% endfor %}
    </div>
{% endif %}

