{% from '_macros/lib.twig' import getLanguageBySite %}

{# Get localized versions of the current entry, indexed by siteId #}
{% set localizedEntries = _globals.get('localizedEntries') %}

{# Sites within a group can be sorted #}
{% if localizedEntries %}
    {% for site in craft.app.sites.sitesByGroupId(entry.site.groupId) %}
        {% if site.id == entry.site.id %}
            {# currentSite: just show the highlighted name #}
            <span class="font-semibold">{{ getLanguageBySite(entry.site) }}</span>
        {% elseif localizedEntries[site.id] is defined %}
            {# link to localized version #}
            <a href="{{ localizedEntries[site.id].url }}">{{ getLanguageBySite(site) }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
