{# Provisional site heading. Keeping it simple for now, so no dropdowns/hamburger menu
    just make it usable also on mobile and rtl languages
#}

{# We need a larger gap here for the mobile in order to have sufficiently large tap regions #}
<div class="pb-8 grid lg:grid-cols-5 gap-3 text-sm lg:gap2">
    <div class="lg:mb-0 lg:col-span-2">
        {% include '_layouts/partials/site.twig' with {} only %}
    </div>

    <div class="flex space-x-4 rtl:space-x-reverse lg:flex-col lg:space-x-0 lg:space-y-1">
        {% include '_layouts/partials/sites.twig' with {} only %}
    </div>

    <div class="flex space-x-4 rtl:space-x-reverse lg:flex-col lg:space-x-0 lg:space-y-1 lg:text-center">
        {% include '_layouts/partials/page-nav.twig' with {} only %}
    </div>

    <div class="flex space-x-4 rtl:space-x-reverse lg:flex-col lg:space-x-0 lg:space-y-1 lg:text-right rtl:lg:text-left">
        {% include '_layouts/partials/siteswitcher.twig' with {entry} only %}
    </div>
</div>

